@media screen and (max-width:578px) {
    .courses-container {
       font-size: 1rem;
    }
  }
  @media screen and (max-width:576px)  {
    .course {
       display: grid;
       grid-template-columns: 1fr;
    }
    .course .course-body {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
 
    img {
        width: 250px;
        height: 250px;
    }
  } 

  @media screen and (max-width:576px) {
    .flex-body {
        display: inline-block;
      }
      img {
        width:362px;
      }
  }

  @media screen and (max-width:576px) {
    .join-group {
      display: inline-block;
    }
    .btn-register {
      font-size: 1rem;
    }
  }
  @media screen and (max-width:576px) {
    .accordion {
       margin:10px;
    }
      h1 {
        font-size: 1.3rem;
      }
      p {
        font-size: .6rem;
      }
  }
  @media screen and (max-width:576px) {
    .container-logo {
      margin-top: 2rem;
    }
    .logo {
      display: inline-block;
      text-align: center;
    }
    .logo-img img {
     width: 200px;
     height: 70px;
    padding: .9rem;
    margin-left: 2.8rem;
      background-position: center;
      background-size: cover;
      text-align: center;
    } 
    /* div img {
      width: 180px;
      height: 50px;
    } */
  }