.courses-container {
    text-align: center;
    justify-content: center;
}
h2 {
    font-weight: bold;
}
.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.course-body {
    display: flex;
    flex-direction: row;
}
.btn-box {
    margin: 2rem 0;
    text-align: center;
    
   
}
.btn-lights {
    padding: .4rem .975rem;
   background:rgb(77, 152, 221);
   font-size: .7rem;
   color: white;
   outline: none;
   border: none;
   border-radius: 5px;
}
.content-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
 .flex {
    margin-top: 5rem;
 }
  .flex-body {
    display: flex;
  }
 .content {
    padding: 8rem  3rem;
    background-color: rgb(228, 240, 237);
 }
 .inline {
    display: flex;
    grid-gap:1.3rem;
    padding: 0 1rem;
    margin-top: 3rem;
 }
 h1 {
    font-weight: bold;
 }
 h4 {
    color: grey;
 }
 .btn-light {
    background:rgb(77, 152, 221);
    font-size:1.5rem;
    padding: 4px;
    margin-top: 3rem;
    width: 10rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
 }
 .join {
    margin-top: 7rem;
    background-color:rgb(19, 176, 238) ;
 }
 .join-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 4.5rem;
 }
 div {
    padding: 5px 3px;
 }

.links {
    text-decoration: none;
  
 }
 .btn-register {
    padding: .6rem 1.5rem;
    background: #fff;
    color: rgb(96, 149, 219);
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
 }
