.courses-container {
    text-align: center;
    justify-content: center;
}
h2 {
    font-weight: bold;
}
.course {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.course-body {
    display: flex;
    flex-direction: row;
}
.btn-box {
    margin: 2rem 0;
    text-align: center;
    
   
}
.btn-lights {
  padding: .4rem .975rem;
   background:rgb(77, 152, 221);
   font-size:1rem;
   color: white;
   outline: none;
   border: none;
   border-radius: 5px;
}
.btn-lights:hover {
   background: greenyellow;
   color: black;
   transition: 2s;
}
.content-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
}
 .flex {
    margin-top: 5rem;
 }
  .flex-body {
    display: flex;
  }
 .content {
    padding: 8rem  3rem;
    background-color: rgb(228, 240, 237);
 }
 .inline {
    display: flex;
    grid-gap:1.3rem;
    padding: 0 1rem;
    margin-top: 3rem;
 }
 .carousel-caption  {
  
   margin-bottom: 5rem;
 }
 h1 {
   color: black;
   font-size: 3rem;
    font-weight: bold;
 }
 p {
   color: white;
   font-weight: bold;
   font-size: 18px;
 }
 h4 {
    color: grey;
 }
 .inner {
   color: gray;
 }
 .btn-light {
   cursor: pointer;
    background:rgb(77, 152, 221);
    font-size:1.5rem;
    padding: 4px;
    margin-top: 3rem;
    width: 10rem;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
 }
 .btn-light:hover {
   background: green;
   transition: 2s;
 }
 .join {
    margin-top: 7rem;
    background-color:rgb(19, 176, 238) ;
 }
 .join-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 4.5rem;
 }
 div {
    padding: 5px 3px;
 }

.links {
    text-decoration: none;
  
 }
 .btn-register {
    padding: .6rem 1.5rem;
    background: #fff;
    color: rgb(96, 149, 219);
    font-size: 1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 10px;
 }
 .btn-register:hover {
   background: greenyellow;
   transition: 2s;
 }

 .accordion {
   text-align: center;
   justify-content: center;
  padding-top: 7rem;
 }
 h1 {
   padding: 1rem;
   font-weight: bold;
 }

 .container-logo {
   text-align: center;
   justify-content: center;
   margin-top: 5rem;
   font-weight: bold;
 }
 .logo {
   display: flex;
   
   align-items: center;
   justify-content: space-between;
   gap: 1.5rem;
 }
 .logo-img img{
   text-align: center;
  width: 150px;
 }
 .footer-content {
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-top: 5rem;
   padding:4rem;
   background-color: black;
   color: #fff;
 }
 h2 {
   font-weight: bold;
   font-size: 2.8rem;
 }
 h5 {
   padding: 8px 0;
 }
 .footer {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 0 4rem;
 }
 i {
   border-radius:40px;
   padding: 5px 1rem;
 }
 i:hover {
    background: rgb(17, 214, 132);
    color: black;
    transition: 1s;
 }
